# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
.idea
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Go 编译缓存和依赖包
bin/
pkg/
vendor/

# 编辑器和操作系统生成的临时文件
*.swp
*.tmp
*.bak
*.old
.DS_Store
Thumbs.db

# 环境变量文件
.env
